VOIDPAY_PUBLIC_KEY=
VOIDPAY_SECRET_KEY=
VOIDPAY_API_URL=https://dash.voidpayments.com/api/v1
PORT=3000

UTMIFY_API_TOKEN=configure_sua_credencial
SITE_URL=https://campanhasolidaria.fun
DATA_DIR=./data
